@font-face {
    font-family: 'Press Start 2P';
    src: url('./assets/fonts/Press_Start_2P/PressStart2P-Regular.ttf')
}

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(121, 198, 198);
}

.header {
    text-align: center;
    font-family: 'Press Start 2P';
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.game-board {
    display: flex;
}

.board-cell {
    border: 1px solid black;
    width: 150px;
    height: 150px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: bold;
}

.play-again {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.play-again-btn {
    cursor: pointer;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    background-color: black;
    color: #ffff;
    border-radius: 5px;
}

.play-again-btn:hover {
    filter: brightness(90%);
}

.play-again-btn:active {
    transform: scale(1.1);
}

.winner {
    text-align: center;
    margin-top: 5px;
    font-family: 'Press Start 2P';
}