* {
    box-sizing: border-box;
}

.header {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.game-board {
    display: flex;
}

.board-cell {
    border: 1px solid black;
    width: 150px;
    height: 150px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: bold;
}

.play-again {

}

.play-again-btn {
    cursor: pointer;
}